<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "CodeJudge" %>
    </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('monitor-judge.png')%>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.5.4/dist/es-module-shims.js"></script>
    <%= javascript_importmap_tags("application") %> 
    <%= yield :js %>
    <%= yield :head %>
  </head>

  <body>
    <div id="application-page" class="layout">
      <%= render "partials/header" %>
      <main>
        <div class="container">
          <div class="row">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </div>
      </main>
      <%= render "partials/footer" %>
      <%= render "partials/modal" %>
    </div>
  </body>
</html>
