<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "CodeJudge" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('monitor-judge.png') %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags("application", shim: false) %>
    <%= yield :head %>
  </head>

  <body class="light">
    <div id="welcome-page" class="layout">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
