<% content_for :head do %>
  <style><%= format_code_css('.highlight', style: "xcode") %></style>
<% end %>

<p style="color: green"><%= notice %></p>

<h1>Attempts</h1>

<div class="table col-12">

  <% unless @attempts.empty? %>
    <table>
      <thead>
        <tr>
          <th>Created</th>
          <th>Problem</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @attempts.each do |attempt| %>
        <tr>
          <td><%=link_to attempt.created_at, attempt %></td>
          <td><%=link_to attempt.problem.title, attempt %></td>
          <% if policy(:attempt).new? %>
            <td><%= link_to 'Edit', edit_problem_path(attempt) %></td>
            <td>
              <%= link_to 'Delete', attempt, method: :delete, data: { confirm: 'Are
              you sure?' } %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You have no attempts yet.</p>
    <div class="col-12">
      <%= link_to "Start solving a Problem", problems_path, :class => "button" %>
    </div>
  <% end %>
</div>
