<p style="color: green"><%= notice %></p>

<%= render @attempt %>

<div>

  <% if policy(:attempt).edit? %>
    <%= button_to "Edit this attempt", edit_attempt_path(@attempt), method: "get" %>
  <% end %>
  <br></br>
  <% if policy(:attempt).destroy? %>
    <%= button_to "Delete this attempt", @attempt, method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to delete this attempt?' }}  %>
  <% end %>
  <br></br>
  <%= link_to "Back to attempts", attempts_path %>
</div>
