<% content_for :js do %>
  <%= javascript_import_module_tag("channels/consumer") %>
  <%= javascript_import_module_tag("channels/grader_channel") %>
<% end %>

<% content_for :head do %>
  <style><%= format_code_css('.highlight', style: "xcode") %></style>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="col-12">
  <%= render "partials/link", copy: "Back to Attempts", path: attempts_path, icon: "chevron-left", classes: "link--back" %>
</div>

<div>
  <%= render @attempt %>
</div>

<section id="test-cases" class="container">
  <div class="row">
    <% if @graded_test_cases.any? %>
      <% @graded_test_cases.each_with_index do |test_case, index| %>
        <div id=<%= "test_case_#{index}" %> class="col-12 col-md-4">
          <%= render "partials/test_case_card", passed: test_case.passed, finished_at: test_case.created_at %>
        </div>
      <% end %>
    <% end %>

    <% @number_ungraded_test_cases.times do |index| %>
      <div id=<%= "test_case_#{@number_graded_test_cases + index}" %> class="col-12 col-md-4">
        <%= render "partials/test_case_card" %>
      </div>
    <% end %>
  </div>
</section>

<div class="nav-options">
  <% if policy(:attempt).destroy? %>
    <%= button_delete_modal_tag "Delete this Attempt", @attempt, "Attempt", class: "button button--delete" %>
  <% end %>
</div>
