<% content_for :head do %>
  <style><%= format_code_css('.highlight', style: "xcode") %></style>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="col-12">
  <%= render "partials/link", copy: "Back to Attempts", path: attempts_path, icon: "chevron-left", classes: "link--back" %>
</div>

<%= render @attempt %>

<% if @problem.test_cases.any? %>
  <% @problem.test_cases.each_with_index do |test_case, index| %>
    <div id=<%= "test_case_#{index+1}" %> class="col-12 col-md-4">
      <%= render "partials/test_case_card", status: "Passed", passed: true%>
    </div>
  <% end %>
<% end %>

<div class="nav-options">
  <% if policy(:attempt).edit? %>
    <%= button_to "Edit this Attempt", edit_attempt_path(@attempt), method: "get", class: "button" %>
  <% end %>
  <% if policy(:attempt).destroy? %>
    <%= button_to "Delete this Attempt", @attempt, method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to delete this attempt?' }}, class: "button button--delete"  %>
  <% end %>
</div>
