<p style="color: green"><%= notice %></p>

<%= render @attempt %>

<div>

  <%= link_to "Back to attempts", attempts_path %>

  <% if policy(:attempt).edit? %>
    <%= link_to "Edit this attempt", edit_attempt_path(@attempt) %>
  <% end %>
  <% if policy(:attempt).destroy? %>
    <%= button_to "Delete this attempt", @attempt, method: :delete %>
  <% end %>
</div>
