<p style="color: green"><%= notice %></p>

<div class="col-12">
  <%= render "partials/link", copy: "Back to Attempts", path: attempts_path, icon: "chevron-left", classes: "link--back" %>
</div>

<%= render @attempt %>

<div class="nav-options">
  <% if policy(:attempt).edit? %>
    <%= button_to "Edit this Attempt", edit_attempt_path(@attempt), method: "get", class: "button" %>
  <% end %>
  <% if policy(:attempt).destroy? %>
    <%= button_to "Delete this Attempt", @attempt, method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to delete this attempt?' }}, class: "button button--delete"  %>
  <% end %>
</div>
