<%= form_for(problem) do |f| %>
  <% if problem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
        <% problem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label "Description" %>
  <%= f.text_area :body %>
  <% @problem.test_cases.each_with_index do |test_case, index| %>
    <h3><%= index %></h3>
    
  <% end %>
  <%= f.submit :class => "button"%>

<% end %>
