<div class="nested-fields test-case-card--edit">
  <%= f.label :input %>
  <%= f.text_field :input %>
  <%= f.label :output %>
  <%= f.text_field :output %>
  <%= link_to_remove_association "Remove Test Case", f, class: "button" %>
</div>