<p style="color: green"><%= notice %></p>

<h1>Problems</h1>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.title %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td>
          <%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are
          you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New problem", new_problem_path %>
