<p id="notice"><%= notice %></p>

<h1>Problems</h1>
<% if policy(:problem).new? %>
  <div class="col-12">
    <%= link_to "New Problem", new_problem_path, :class => "button" %>
  </div>
<% end %>
<div class="table col-12">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <% if policy(:problem).new? %>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
      <tr>
        <td><%=link_to problem.title, problem %></td>
        <% if policy(:problem).new? %>
          <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
          <td>
            <%= button_delete_modal_tag "Delete", problem, "Problem" %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
