<p id="notice"><%= notice %></p>

<h1>Problems</h1>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
      <tr>
        <td><%=link_to problem.title, problem %></td>
        <% if policy(:problem).new? %>
          <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
          <td>
            <%= link_to 'Delete', problem, method: :delete, data: { confirm: 'Are
            you sure?' } %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if policy(:problem).new? %>
  <%= link_to "New problem", new_problem_path, :class => "button" %>
<% end %>
