<p id="notice"><%= notice %></p>

<div class="col-12">
  <%= render "partials/link", copy: "Back to Problems", path: problems_path, icon: "chevron-left", classes: "link--back" %>
</div>

<div class="col-12">
  <%= render "partials/text_card", headline: "Problem", copy: @problem.title %>
</div>
<div class="col-12">
  <%= render "partials/text_card", headline: "Description", copy: @problem.body %>
</div>

<section id="test-cases">
  <h3 class="col-12">Testcases</h3>
  <% if @problem.test_cases.any? %>
    <% @problem.test_cases.each do |test_case| %>
      <div class="col-12 col-md-4">
        <%= render "partials/test_case_card", test_case: test_case %>
      </div>
    <% end %>
  <% else %>
    <p class="col-12">No test cases were specified for this problem.</p>
  <% end %>
</section>
<section id ="file-upload">
  <%= form_for(@attempt) do |f| %>
    <%= hidden_field_tag(:problem_id, @problem.id) %>
    <%= f.select :language, @languages_list, :prompt => "Select Language" %>
    <%= f.label :sourcecode, "File upload:" %>
    <%= f.file_field :sourcecode %>
    <%= f.submit "Submit Code",:class => "button"%>
  <% end %>
</section>
<div class="nav-options">
  <% if policy(:problem).edit? %>
    <%= link_to "Edit this Problem", edit_problem_path(@problem), :class => "button" %>
  <% end %> 
  <% if policy(:problem).destroy? %>
    <%= button_to "Delete this Problem", @problem, method: :delete, :class => "button button--delete" %>
  <% end %>
</div>
