<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.body %>
</p>

<h3>Testcases</h3>
<% @problem.test_cases.each do |test_case| %>
  <div class="col-12">
    <div class="test-card">
      <p>
        <strong>Input:</strong> 
        <% if test_case.input == "" %>
          No Input specified  
        <% else %>  
          <%= test_case.input %>
        <% end %>
      </p>
      <p>
        <strong>Output:</strong> <%= test_case.output %>
      </p>
    </div>
  </div>
<% end %>
<div>
  <%= form_for @problem do |f| %>
    File upload: <%= f.file_field :sourcecode %>
  <% end %>
  </br>
  
  <% if policy(:problem).edit? %>
    <%= link_to "Edit this problem", edit_problem_path(@problem), :class => "button" %>
  <% end %>  
  <%= link_to "Back to problems", problems_path, :class => "button" %> 
  <% if policy(:problem).destroy? %>
    <%= button_to "Destroy this problem", @problem, method: :delete, :class => "button" %>
  <% end %>
</div>
