<p style="color: green"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.body %>
</p>
<div>
  <% if policy(:problem).edit? %>
    <%= link_to "Edit this problem", edit_problem_path(@problem) %> | 
  <% end %>  
  <%= link_to "Back to problems", problems_path %> 
  <% if policy(:problem).destroy? %>
    <%= button_to "Destroy this problem", @problem, method: :delete %>
  <% end %>
</div>
