<p style="color: green"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problem.problem_text %>
</p>

<p>
  <strong>Number of test cases:</strong>
  <%= @problem.number_test_cases %>
</p>
<div>
  <%= link_to "Edit this problem", edit_problem_path(@problem) %> |
  <%= link_to "Back to problems", problems_path %>

  <%= button_to "Destroy this problem", @problem, method: :delete %>
</div>
