<% content_for :title, "Login" %>
<h1>Login</h1>
<h2 class="subline">Sign in to continue or <%= link_to "Register", register_path %></h2>
<%= form_tag(log_in_path, :id => "login_form", :class => "form-login", :method => :post) do |form| %>
  <%= label_tag "username", "Username" %>
  <%= text_field_tag "username" %>
  <%= label_tag "password", "Password" %>
  <%= password_field_tag "password" %>
  <%= button_tag "sign in", :id => "login_btn", :class => "button" %>
<% end %>
<%= google_sign_in_button proceed_to: create_log_in_url, data: {turbo: "false"}, class: "button button--google" do %>
  <%= embedded_svg 'google_logo' %> Sign in with Google
<% end %>
<p id="notice"><%= notice %></p>