<p style="color: green"><%= notice %></p>

<h1>Languages</h1>

<div id="languages" class="table">
  <table>
    <thead>
      <tr>
        <th>Language</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @languages.each do |language| %>
      <tr>
        <td><%= link_to language.name, language %></td> 
        <%if policy(:language).new? %>
          <td><%= link_to "Edit", edit_language_path(language) %></td>
          <td><%= link_to "Delete", language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New language", new_language_path %>
