<%= form_for(user, data: { turbo: false }) do |f| %>
  <% if user.errors.any? %>
    <div class="error">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :firstname %>
  <%= f.text_field :firstname %>
  <%= f.label :lastname %>
  <%= f.text_field :lastname %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <% unless current_user?(user) %>
    <%= f.label :roles %>
    <%= f.collection_check_boxes(:role_ids, Role.all, :id, :name) do |c| %>
      <%= c.label { c.text } %>
      <%= c.check_box %>
    <% end %>
  <% end %>

  <div>
    <%= f.submit class: "button button--submit" %>
  </div>
<% end %>
