<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Role</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%=link_to user.firstname, user %></td>
        <td><%=link_to user.lastname, user %></td>
        <td><%=link_to user.email, user %></td>
        <td><%=link_to user.role, user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <% unless current_user?(user) %>
            <%= button_delete_modal_tag "Delete", user, "User" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
