<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Role</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td> </td>
        <td>
          <%= link_to 'Delete', user, method: :delete, confirm: 'Are you sure?' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
